<h1> calendar page test! </h1>
<head>
<link href='../fullcalendar.css' rel='stylesheets' />
<link href='../fullcalendar.print.css' rel='stylesheets' media='print' /> 
</head>

<body>
<div id='calendar'></div>
</body>