<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5">
  <%= render "form" %>
  </div>


<div class="col-xs-6 col-md-7" class="pull-right">
<h1> BVCIL Connector Indemnity Agreement </h1>
<textarea readonly rows="27" cols="90" class="text-center"> Indemnification: I also agree to hold harmless, defend, and indemnify BVCIL
(that is, defend and pay any judgment and costs, including investigation costs,
court costs, legal fees, and attorney’s fees) from any and all claims of mine,
my spouse, family members, or others arising from my injury or loss due to my
operation of the BVCIL Connector van (including those arising from the inherent
risks of operating a motor vehicle or the ordinary negligence of BVCIL).
I further agree to hold harmless, defend, and indemnify BVCIL (that is, defend and
pay any judgment and costs, including investigation costs, court costs, legal fees,
and attorney’s fees) against any and all claims of Connector riders and others arising
from my negligent conduct in the course of my operation of the BVCIL Connector van.
Damages Generally: A User is responsible for any and all damage that occurs to the
Connector vehicle while in the User’s possession or control (including the entire time
the vehicle is reserved under the Member's account), even if damage is weather-related,
caused by a third party or arises from similar causes, and is responsible for the full
value of any damages or injuries caused to third parties or their property. Such damages
include, without limitation, the repair costs (estimated or actual) for the Connector
vehicle and third party property, injuries to third parties, costs associated with the
recovery or transportation of the Connector vehicle, and the loss of use of the Connector
vehicle or third party property
UNDER NO CIRCUMSTANCES WILL BVCIL BE LIABLE TO ANY USER OR ANY THIRD PARTY FOR ANY
INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, INCLUDING LOSS OF PROFIT, REVENUE,
GOODWILL, BUSINESS OPPORTUNITY OR ANTICIPATED SAVINGS, ARISING FROM OR RELATED TO THIS
CONTRACT OR USE OF THE CONNECTOR SERVICE. Without limiting the foregoing, BVCIL shall
have no liability for any loss of, or damage to, any goods in or on the vehicle or in
or on any third party vehicle, any loss, damage, injury or death in relation to any User
or any third party arising from the use of the Connector vehicle, loss or damage incurred
by the User as a result of any claims made by a third party, or loss or damage incurred by
the Member arising from or in relation to either (i) the reservation, non-availability, supply,
operation or use of the Connector vehicle or (ii) any vehicle accessories, whether supplied
by BVCIL or by a User (for example, luggage racks, bicycle racks, baby seats and the like;
the User is responsible for the safe installation of such accessories and must check the
condition of such accessories before each use), unless in each case such loss or damage is
incurred due to our negligence or failure to carry out our responsibility.
</textarea>
</div>

</div>
