<%= form_for(@maintenance_form) do |f| %>

  <div class="field">
    <%= f.label :issue_string %><br>
    <%= f.text_field :issue_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
