<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @maintenance_form.issue_string %>
</p>

<p>
  <strong>Date/Time:</strong>
  <%= @maintenance_form.created_at %>
</p>

<%= link_to 'Back', maintenance_forms_path %>
