<% provide(:title, 'All Vehicle Reservations') %>
<div class="vehicle-reservations">
    <h1>All Reservations</h1>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
              <th>Reserved For</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <% @reservations.each do |r| %>
            <tr>
                <td><%= User.find(r.user_id).name %></td>
                <td><%= DateTime.strptime(r.start_time,'%s').strftime('%B %d, %Y - %I:%M%P') %></td>
                <td><%= DateTime.strptime(r.end_time,'%s').strftime('%B %d, %Y - %I:%M%P') %></td>
                <td><%= link_to "Delete", r, method: :delete, data: { confirm: "Are you sure you want to delete this reservation?" } %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
