<h1><strong> About BVCIL </strong></h1>

<h3>Connecting People to the Power of Independence!</h3>

<p>The BVCIL is a consumer-based, consumer-controlled, cross-disability, cross-cultural,
  non-residential, private nonprofit 501(c)(3) corporation. BVCIL’s mission is to promote
  the full inclusion and participation of individuals with disabilities in all
  aspects of community life.</p>

<p>Location: <strong>1869 Briarcrest, Bryan, TX 77802</strong> (near the AT&amp;T store and BINGO – <a href="https://www.google.com/maps?q=1869+Briarcrest+Dr+Bryan,+TX+77802&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=42.581364,87.451172&amp;z=16" target="_blank">Link for Directions</a>)</p>

<%= image_tag("location1.jpg", :alt => "Logo", :class => "logo-pic") %>
