<h1><strong> About BVCIL </strong></h1>

<h3>Connecting People to the Power of Independence!</h3>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://www.dropbox.com/s/ifdmqrrpuwfsia3/High%20Res%20Logo.jpg?dl=0" alt="...">
      <div class="carousel-caption">
          <h3>Brazos Valley Center for Independent Living</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://www.dropbox.com/s/iwx1dpzybg9k9rr/11159915_943412042369701_690863659692840526_o.jpg?dl=0" alt="...">
      <div class="carousel-caption">
          <h3>Meet Our BVCIL Team!</h3>
      </div>
    </div>
    <div class="item">
      <img src="https://www.dropbox.com/s/ly4tuvxsz72pwgh/220603_463529687024608_1977956189_o.jpg?dl=0" alt="...">
      <div class="carousel-caption">
          <h3>Located in Bryan, TX!</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->

<p>The BVCIL is a consumer-based, consumer-controlled, cross-disability, cross-cultural,
  non-residential, private nonprofit 501(c)(3) corporation. BVCIL’s mission is to promote
  the full inclusion and participation of individuals with disabilities in all
  aspects of community life.</p>

<p>Location: <strong>1869 Briarcrest, Bryan, TX 77802</strong> (near the AT&amp;T store and BINGO – <a href="https://www.google.com/maps?q=1869+Briarcrest+Dr+Bryan,+TX+77802&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=42.581364,87.451172&amp;z=16" target="_blank">Link for Directions</a>)</p>
