<div id="contact-info">
    <h1>Contact Details</h1>
    <ul class="contact-info">
        <li class="phone"><%= link_to "(979) 776-5505", "tel:(979) 776-5505" %></li>
        <li class="mail"><%= link_to "info@bvcil.org", "mailto:info@bvcil.org" %></li>
        <li class="twitter"><%= link_to "@bvciltexas", "http://twitter.com/intent/tweet?screen_name=bvciltexas" %></li>
    </ul>
</div>

<body>
  <div class="container">
    <h2>Resource Information</h2>
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Jackie Pacha</td>
          <td>Executive Director</td>
          <td>jpacha@bvcil.org</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Pat Morse</td>
          <td>Program Manager</td>
          <td>pmorse@bvcil.org</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Kay Hamilton</td>
          <td>Office Manager</td>
          <td>khamilton@bvcil.org</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Shelby Catron</td>
          <td>Office Assistant</td>
          <td>shelby@bvcil.org</td>
        </tr>
        <tr>
          <td>5</td>
          <td>John Lytton</td>
          <td>Support Assistant</td>
          <td>john@bvcil.org</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Andrew Morse</td>
          <td>Special Projects Coordinator</td>
          <td>andrew@bvcil.org</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Josh Contreras</td>
          <td>Independent Living Facilitator</td>
          <td>josh@bvcil.org</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Justice De Leon</td>
          <td>Independent Living Facilitator</td>
          <td>justin@bvcil.org</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Sandra Becerra</td>
          <td>Independent Living Facilitator</td>
          <td>sandra@bvcil.org</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
