<div id="contact-info">
    <h1>Contact Details</h1>
    <ul class="contact-info">
        <li class="phone"><%= link_to "(979) 000-0000", "tel:(979) 000-0000" %></li>
        <li class="mail"><%= link_to "someemail@gmail.com", "mailto:someemail@gmail.com" %></li>
        <li class="twitter"><%= link_to "@bvcil", "http://twitter.com/intent/tweet?screen_name=bvcil" %></li>
    </ul>
</div>
