<head>
<!--<link rel='stylesheets' href='fullcalendar.css' />
<script language="JavaScript" type="text/javascript" src='http://fullcalendar.io/js/fullcalendar-2.3.1/lib/jquery.min.js'></script>
<script language="JavaScript" type="text/javascript" src='http://fullcalendar.io/js/fullcalendar-2.3.1/lib/jquery-ui.custom.min.js'></script>
<script language="JavaScript" type="text/javascript" src='http://fullcalendar.io/js/fullcalendar-2.3.1/lib/moment.min.js'></script>
<script language="JavaScript" type="text/javascript" src='http://fullcalendar.io/js/fullcalendar-2.3.1/fullcalendar.min.js'></script>

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
         dayClick: function() {
        alert('a day has been clicked!');
    }
    })

});
</script> -->


<!--<script rel='lib' href='jquery.min.js'></script>
<script rel='lib' href='moment.min.js'></script>
<script rel='lib' href='fullcalendar.js'></script> -->




</head>

<body>
<div class="jumbotron">
  
  <h1><strong>Howdy, Brazos County!</strong></h1>
  <p>We are the Brazos Valley Center for Independent Living. We are proud to
  announce our new van sharing system for all disabled citizens in need of
  transportation! Read our About page for more details about who we are
  or our Contact page in case you need additional information!</p>
  <p><a class="btn btn-primary btn-lg" href="https://nonameyet-csce431-project.herokuapp.com/users/new" role="button">Sign Up!</a></p>
</div>




</body>

