<head>

  <link rel="stylesheet" href="../app/assets/stylesheets/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="jquery.flexslider.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>

</head>

<body>

  <!-- Place somewhere in the <body> of your page -->
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="../app/views/images/logo.jpg" />
      </li>
      <li>
        <img src="slide2.jpg" />
      </li>
      <li>
        <img src="slide3.jpg" />
      </li>
    </ul>
  </div>

</body>
