<% provide(:title, 'Reserve Vehicle') %>
<div class="reservation">
    <div id="calendar"></div>
    <!-- Modal -->
    <div class="reservation-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create Reservation</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <div class='input-group date' id='reservation-datetimepicker'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-time"></span>
                      </span>
                  </div>
              </div>
            </form>
            <!-- Person name -->
            <!-- start time -->
            <!-- end time -->
            <!-- date -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create Reservation</button>
          </div>
        </div>
      </div>
    </div>
</div>
