<div class="jumbotron">
  <h1><strong>Howdy, Brazos County!</strong></h1>
  <p>We are the Brazos Valley Center for Independent Living. We are proud to
  announce our new van sharing system for all citizens with disabilities in need of
  transportation! Read our About page for more details about who we are
  or our Contact page in case you need additional information!</p>
  <p>
    <% if logged_in? and current_user.isadmin %>
        <a class="btn btn-primary btn-lg" href="/reservations" role="button">Make a Reservation!</a>
    <% else %>
        <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up!</a>
    <% end %>
  </p>
</div>
