<div class="jumbotron">
  <h1><strong>Howdy, Brazos County!</strong></h1>
  <p>We are the Brazos Valley Center for Independent Living. We are proud to
  announce our new van sharing system for all disabled citizens in need of
  transportation! Read our About page for more details about who we are
  or our Contact page in case you need additional information!</p>
  <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up!</a></p>
</div>
