<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Username: </span>
  <input type="text" class="form-control" placeholder="Enter BVCIL Username" aria-describedby="sizing-addon1">
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Password: </span>
  <input type="text" class="form-control" placeholder="Enter Password" aria-describedby="sizing-addon1">
</div>
